body {
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
}

main {
  max-width: 75vw;
}

div.resource {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;
}

@media screen and (min-width: 900px) {
  main {
    max-width: 66vw;
  }
}

@media screen and (min-width: 1367px) {
  main {
    max-width: 60vw;
  }
}

@media screen and (min-width: 1980px) {
  main {
    max-width: 50vw;
  }
}
